.colorverde{
    background-color: rgb(9, 255, 0);
  height: 60px;
    
    }
    .colorazul{
        background-color: rgb(38, 0, 255);
      height: 60px;
        
        }
        .colorgris{
            background-color: rgb(154, 163, 154);
          height: 60px;
            
            }