.colorverde{
    background-color: rgb(9, 255, 0);
  height: 60px;
    
    }
    .colorrojo{
        background-color: red;
       height: 60px;
        
        }
        .colorazul{
            background-color: rgb(72, 10, 241);
          
            
            }.colornegro{
                background-color: rgb(14, 12, 12);
              
                
                }
                .alto{
                    height: 60px;
                }
                
                