.colorverde{
    background-color: rgb(9, 255, 0);
  height: 60px;
    
    }
    .colorrojo{
        background-color: red;
       height: 60px;
        
        }
        .colorazul{
            background-color: rgb(72, 10, 241);
            height: 60px;
            
            }.colornegro{
                background-color: rgb(14, 12, 12);
              
                height: 60px;
                }
                .alto{
                    height: 60px;
                }
.mediano{

    width: 543px;
}
.linea{


    width: 1px;

}
.contenedor{
    display: inline-block;
}
                
                