.colorverde{
    background-color: red;
    height: 300px;
    
    }
    .colorrojo{
    background-color: green;
    height: 300px;
    }
    .coloramarillo{
        background-color: rgb(238, 223, 20);
        height: 300px;
        }